@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700");

body {
  font-size: 14px;
  line-height: 1.5;
  background-color: #eaf4f4;
}

nav {
  background-color: #399934;
}

nav p, h2 {
  color: #eaf4f4;
}

h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  color: #02020a;
  margin-top: 60px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #02020a;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.item-linha-tempo {
  padding: 48px 32px 32px;
  position: relative;
  color: rgba(2, 2, 10, 0.7);
  border-right: 2px solid #399934;
  text-align: right;
  margin-left: 30%;
}

.item-linha-tempo::before {
  content: attr(date-is);
  position: absolute;
  right: 25px;
  top: 16px;
  font-family: serif;
  font-size: 40px;
  font-weight: bold;
  color: #399934;
}

.item-linha-tempo::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 16px;
  position: absolute;
  right: -7px;
  border-radius: 10px;
  content: "";
  border: 2px solid #399934;
  background: #f6fff8;
}
